.main {
  height: 100vh;
  display: flex;
}

.main__left {
  flex: 0 1 auto;
  display: flex;
  flex-direction: column;
}

.main__videos {
  flex-grow: 1;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
}

.main__controls {
  background-color: #1C1E20;
}

.main__right {
  display: flex;
  flex: 0 1 400px;
  flex-direction: column;
  background-color: #242324;
  border-left: 1px solid #3D3D42;
}

.main__controls {
  color: #D2D2D2;
  display: flex;
  justify-content: space-between;
  padding: 5px;
}

.main__controls__block {
  display: flex;
}

.main__controls__button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 8px 10px;
  min-width: 80px;
  cursor: pointer;
}

.main__controls__button:hover {
  background-color: #343434;
  border-radius: 5px;
}

.main__controls__button i {
  font-size: 24px;
}

.main__controls__button > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main__header {
  padding-top: 5px;
  color: #F5F5F5;
  text-align: center;
}

.main__chat_window {
  flex-grow: 1;
  overflow-y: auto;
}

.messages {
  padding: 6px;
  color: white;
  list-style: none;
}

.message {
  margin-bottom: 6px;
  padding: 6px;
  background-color: rgba(255, 255, 255, 0.125);
  border-radius: 4px;
}

.message > h1 {
  font-size: 0.8em;
  color: #c990ee;
  margin-bottom: 2px;
}

.message.from-current-user > h1 {
  color: #b5dcff;
}

.message > span {
  margin-left: 6px;
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-all;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.main__message_container {
  padding: 22px 12px;
  display: flex;
}

.main__message_container input {
  flex-grow: 1;
  background-color: transparent;
  border: none;
  color: #F5F5F5;
}

.unmute, .stop {
  color: #CC3B33;
}

#video-grid{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  justify-content: center;
}

.share-screen {
  background: #32cd32bf;
  border-radius: 11px;
}

.btn-success:hover {
  background-color: #3ca728;
  border-color: #3ca728;
  border-radius: 5px;
}

.wrapper {
  position: relative;
  display: flex;
  margin: 6px;
  border: 1px solid rgba(255, 255, 255, 0.65);
  align-items: center;
  overflow: hidden;
}

.wrapper video {
  z-index: 100;
  height: auto;
  width: 100%;
  padding: 8px;
}

.wrapper div {
  position: absolute;
  display: block;
  z-index: 150;
  left: 10px;
  bottom: 10px;
  color: white;
  font-size: 0.9em;
  background-color: black;
}

.wrapper div > .rec {
  color: #fa8072;
  font-size: 1.1em;
  font-weight: 700;
}

.wrapper.rec {
  border: 1px solid #fa8072;
}

.disabled {
  opacity: 0.5;
}
